body {
    color: #333;
    font-family: Effra,Helvetica,Arial,sans-serif;
}

#wrapper {
    max-width: unset;
    margin: 0;
    overflow: auto;
    padding: 0;
    min-height: 100%;
}

#app_body {
    max-width: 800px;
    padding-right: 20px;
    margin: 0 auto;
}

#header {
    padding-right: 0;
    position: relative;
    padding-bottom: 55px;
    margin-bottom: 15px;
}

.accessible #submit_app, .accessible #apply_button {
    background-color: #2C4BC3;
    padding: 15px 26px;
    border-radius: 35px;
    font-size: 15px;
}

.accessible #apply_button {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
}

#app_body h1 {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: normal;
    letter-spacing: -1px;
}

#content {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: #0B0B0B;
}

#content p, #content li {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0 0 15px 0;
}

#content ul {
    list-style: none;
    padding-inline-start: 18px;
}

#content ul li {
    position: relative;
    padding-bottom: 3px;
}

#content ul li:before{
    content: '';
    position: absolute;
    border-right: 3px solid #49A18C;
    border-bottom: 3px solid #49A18C;
    width: 5px;
    height: 5px;
    top: 11px;
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
}

#application {
    background: #F2F2F2;
    border-radius: 15px;
    margin-top: 58px;
    margin-bottom: 50px;
    max-width: none;
    padding-left: 58px;
    padding-top: 45px;
}

#application h2.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.1px;
    margin-bottom: 27px;
}

#application hr {
    display: none;
}

#main_fields .required-fields {
    margin-top: 20px;
}

#main_fields div.field {
    line-height: 18px;
    margin-bottom: 20px;
}

#main_fields div.field label, #eeoc_fields div.field label {
    float: none !important;
    width: 100% !important;
    text-align: left !important;
    display: block !important;
}

#main_fields div.field label,
#eeoc_fields div.field label,
#custom_fields div.field label,
#main_fields div.field input[type=text],
#custom_fields div.field input[type=text],
.attach-or-paste .link-container a {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
}

#main_fields div.field input[type=text], #custom_fields div.field input[type=text] {
    margin-top: 6px;
    width: 480px;
    height: 30px;
    padding-left: 11px;
}

#main_fields div.field label#resume,
#main_fields div.field label#cover_letter {
    font-weight: bold;
}

.attach-or-paste .link-container {
    margin-top: 7px;
}

.attach-or-paste .link-container a {
    display: block;
    margin-bottom: 5px;
}

.attach-or-paste .link-container a::after {
    content: "" !important;
}

#submit_app {
    text-shadow: none;
}

@media (max-width: 640px) {
    #app_body {
        padding-left: 20px !important;
    }

    #application {
        padding-left: 10px;
        padding-right: 10px;
    }
}